extends profilelayout

block content
  h3 Welcome User! 
  |
  h5 You have logged in using #{user.email}.

  div(class='col-sm-10')
   h3 Your Profile
   table
    tr
     td First Name
     td #{user.first_name}
    tr
     td Last Name
     td #{user.last_name}
    tr
     td Dob
     td #{user.dob}
    tr
     td University
     td #{user.university}
    tr
     td Address
     td #{user.address}
    tr
     td Phone Number
     td #{user.phone_no}
    tr
     td Status
     td #{user.status}
    tr
     td Gender
     td #{user.gen}